
body {
    color:rgb(238, 125, 144);
background: yellow;
margin:0px;

}


header{
border-bottom: solid 2px white;
padding: 20px;
font-size: 32px;
color: rgb pink 
}

section{

background: blue;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}
.chamada-texto{

margin-right: 5%;

}

